@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

.calcBox {

  border: solid 3px Grey;
  border-radius: 5px;
  display: block;
  font-family: 'Manjari', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 65%;

}

#submitButton {

  background-color: RoyalBlue;
  border: none;
  border-radius: 5px;
  color: White;
  font-size: 15px;
  padding: 12px 24px;

}

#resetButton {

  background-color: Red;
  border: none;
  border-radius: 5px;
  color: White;
  font-size: 15px;
  padding: 12px 24px;

}
